@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

:root {
    /* Varibles tipografía*/
    /*font families*/
    --ff-title: 'Teko';
    --ff-text: 'Montserrat';
    /*font sizes*/
    --fs-900: 6.375rem;
    --fs-800: 5.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2.7rem;
    --fs-500: 2.2rem;
    --fs-400: 1.25rem;
    --fs-300: 0.9rem;
    --fs-200: 0.875rem;
    /* Variables colores*/
    --clr-dark: #2e424d;
    --clr-medium: #5b8291;
    --clr-light: #98DAD9;
    --clr-white: #eaebed;
    --clr-red:red;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 400;
    font-weight: 400;
}

.ff-text {
    font-family: var(--ff-text), sans-serif;

}

.ff-title {
    font-family: var(--ff-title), Verdana, Geneva, Tahoma;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.lh-normal {
    line-height: 1.5rem;
}

.lt-spacing-1 {
    letter-spacing: 0.3em;
}

.text-color-dark {
    color: var(--clr-dark);
}

.text-color-medium {
    color: var(--clr-medium);
}

.text-color-light {
    color: var(--clr-light);
}

.text-color-white {
    color: var(--clr-white);
}
.text-color-red{
    color: var(--clr-red);
}
.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.bg-color-white {
    background-color: var(--clr-white);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: var(--ff-text);
    font-size: var(--fs-400);
    font-weight: 400;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
}

img,
picture {
    display: block;
}

input,
button,
textarea,
select,
option {
    font: inherit;
}

.sr-only {
    display: none;
}

.flex {
    display: flex;
}

header {
    align-items: center;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--clr-medium);
}

.logo {
    padding: 2rem 1rem;
}

/* navegacion*/
.navigation {
    list-style-type: none;
    padding: 1rem;
    gap: 2.5rem;
    flex-direction: column;
    margin: 0;
    background: hsl(230 35% 7% / .95);
    position: fixed;
    inset: 0 0 0 30%;
    padding-top: 4rem;
    backdrop-filter: blur(1.5rem);
    background: hsl(0 0% 100% / .05);
    backdrop-filter: blur(1.5rem);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.navigation>li {
    padding: 0.5rem;
    
}

.navigation[data-visible='true'] {
    transform: translateX(0);
}

.navigation>li>a {
    text-decoration: none;

}

.navigation>li>a>span {
    padding-inline: 1.2rem;

}

.underline-indicators>* {
    cursor: pointer;
    padding: .5rem 0;
    border: none;
    border-bottom: 0.15rem solid transparent;
}

.underline-indicators>*:hover,
:focus {
    border-color: #98DAD9;
}


.mobile-toggle-nav {
    /*background-image: url(./assets/bars-solid.svg);
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: transparent;
    
    width: 35px;
    height: 35px;
    border: none;
    color: transparent;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 1;
}
.cruz{

}
/*.mobile-toggle-nav[aria-expanded='true']{
    /*background-image: url(./assets/xmark-solid.svg);
    display: block;
}

.mobile-toggle-nav[aria-expanded='true']~.cruz {
    /*background-image: url(./assets/xmark-solid.svg);
    display: block;
}
*/
.mobile-toggle-nav:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
}

.active {
    border-color: var(--clr-light);
}

/* contacto y redes */
.header-contacto {
    justify-content: space-around;
    align-content: center;
}

.header-contacto>span {
    align-self: center;
    margin-left: 12px;
}

.header-contacto>span>img {
    width: 35px;

}
.logo-fb{
    width: 30px;
}
.logo-fb > i > svg > path {
    fill: var(--clr-white)
}

/*layout*/
.container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
    gap: 3rem;
    min-height: 100vh;
}

/*home*/



#home {
    background-image: url(./assets/fondo-malaga.jpg);
    background-repeat: no-repeat;
    background-position: center top;

}

.home-ul {
    list-style-type: none;
}

.home-ul>li {
    padding: 0.5rem;
}

.large-button,
.large-button--button {
    position: relative;
    padding: 0 2em;
    z-index: 1;
    text-decoration: none;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    cursor: pointer;
    border: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--clr-medium);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 200ms linear, transform 300ms ease-in-out;
}

.large-button:hover::after,
:focus::after {
    opacity: 1;
    transform: scale(1.2);
}

.large-button--button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--clr-medium);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 200ms linear, transform 300ms ease-in-out;
}

.large-button--button:hover::after,
:focus::after {
    opacity: 1;
    transform: scale(1.2);
}

.large-button--button[ariaDisabled='true'] {
    background-color: var(--clr-white);
}

.bienvenidos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 8rem;
}


footer {
    width: 100%;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-secondary {
    justify-content: baseline;
    align-items: center;
}

.legales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

/* servicios*/
/*calculadora*/
#calculadora {
    width: 100%;
}

.box,
.box-servicios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 8px;
}

.box>p {
    align-self: flex-start;
    text-align: justify;
}

.wrapper-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

select,
h1 {
    padding: 8px;
}

select {
    cursor: pointer;
    width: 100%;

}

select,
input:hover {
    background-color: var(--clr-medium);
}

select,
input:focus {
    color: var(--clr-white);
    border-color: var(--clr-dark);
    border-radius: 4px;
}

/* servicios*/
.box-servicios {
    align-items: center;
}

/* visitas */
.contenedor{
    perspective: 2000px;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    
}

.box-visitas{
    position: relative;
    transition: transform .5s;
    width: 100%;
    min-height: 250px;
    cursor: pointer;
    transform-style: preserve-3d;
    border-radius: 8px;
   
}

.box-visitas.descubierto{
    transform: rotatex(180deg);
}

.box-visitas__image{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;    
    backface-visibility: hidden;
    border-radius: 8px;
}
.box-visitas__contenido{
    position: absolute;
    width: 100%;
    min-height: 250px;
    transform: rotateX(180deg);
    background-color: var(--clr-light);
    backface-visibility: hidden;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 12px;
    border-radius: 8px;
    justify-content: center;
}



.box-visitas__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


hr {
    width: 70%;

}

input[type='text'],
[type='email'],
[type='tel'],
[type='date'],
[type='time'],
[type='range'] {
    background-color: var(--clr-medium);
    color: var(--clr-white);
    border-radius: 4px;
    border-color: var(--clr-dark);
    padding: 8px;
    width: 100%;
    outline-color: var(--clr-light);
    outline-style: none;
}
input::placeholder{
    color: var(--clr-light);
}
.wrapper-date-time {
    gap: 1.5rem;
    width: 100%;
    justify-content: space-between;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--clr-dark);
    cursor: pointer;
    margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--clr-dark);
    cursor: pointer;
    margin-top: -20px;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--clr-dark);
    cursor: pointer;
    margin-top: -20px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--clr-light);
    border-radius: 4px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--clr-light);
    border-radius: 4px;
}

input[type=range]::--ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--clr-light);
    border-radius: 4px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
}

.switch {
    display: inline-block;
  
  }

  .switch input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: -100%;
  }
  .switch input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    display: inline-block;
   width: 3.2em;
    height: 1.9em;
    border-radius: 1em;
    text-indent: -9999px;
    background: var(--clr-light);
    transition: all 0.25s cubic-bezier(0.1, 0.8, 0.1, 0.3);
  }
  .switch input[type=checkbox] + label:after {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translate(0, -50%);
    background: var(--clr-dark);
    box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2), -1px -1px 3px rgba(102, 102, 102, 0.2);
    border-radius: 1em;
    content: "";
    width: 1.2em;
    height: 1.2em;
    transition: all 0.25s cubic-bezier(0.1, 0.8, 0.1, 0.3);
  }
  .switch input[type=checkbox]:checked + label {
    
    border-radius: 1em;
    background: var(--clr-dark);    
  }
  .switch input[type=checkbox]:checked + label:after {
    left: 100%;
    border-radius: 1em;
    transform: translate(-100%, -50%);
    background-color: var(--clr-light);
  }
.centerHV{
    gap: 0.5rem;
    align-items: center;
}
/* media querys*/

@media(max-width:768px) {
    :root {
        --fs-900: 6.375rem;
        --fs-800: 4.25rem;
        --fs-700: 3.5rem;
        --fs-600: 1.7rem;
        --fs-500: 1.45rem;
        --fs-400: .8rem;
        --fs-200: 0.75rem;
    }
}